.navbar {
    display: grid;
    background-color: #62EE62;
    height: 90px;
    
}

.navbar__title  {
    font-weight: 700;
    font-size: 36px;
    color: #439BED;
}
.hamburger__menu {
    margin: 10px;
    color: black;
}



.navbar__search__input {
    width: 500px;
    height: 50px;
    background: #95FF95;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;

}
.navbar__search__input::placeholder{
    font-size: 20px;
    font-weight: 700;
}

.navbar__log__in {
    color: black;
    background: inherit;
    border: none;
    font-size: 20px;
}

.navbar__shopping__cart{
    color: black;
    margin: 0 10px;
}

.navbar__fasearch {
    align-items: center;
    color: #439BED;
    height: 50px;
    width: 50px;
    border-color: #439BED;
    border-radius: 7px;
}